<!--
Created by Diwakar Singh
Section: 401
Roll No: 301185459
Assignment: 01
-->
<!-- Bottom Nav -->
<footer class="footer text-center">
<nav class="navbar fixed-bottom navbar-warning bg-warning">
  <h6 class="display-6 navbar-text">All Right Reserved. &copy;Copright 2021 @Diwakar Vikram Singh</h6>
</nav>
</footer> 

