<!-- Bottom Nav -->
<footer class="footer text-center">
<nav class="navbar fixed-bottom navbar-warning bg-warning">
  <h6 class="display-6 navbar-text">&copy;Copright 2021 @Diwakar Vikram Singh.All Right Reserved.</h6>
</nav>
</footer> 

