<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!DOCTYPE html>
<html>
  <head>
    <script type ="text/javascript">
      function submitForm(that){
        confirm("Thank you " + that.fname.value + " " + that.lname.value + "  for contacting me.\n" + that.cNumber.value + "\n"+ that.email.value + "\n"+ that.message.value);
        return false ; 
    }
  </script>
  </head>
  <body>
    <div class="jumbotron">
      <div style="text-align:center">
        <h1>Contact Me:</h1>
      </div>
      <div class="row">
        <div class="column">
          <img src="/images/contact.jpg" style="width:100%">
          <h4>Feel free to reach out to me <a href="mailto:diwakar232496@gmail.com">diwakar232496@gmail.com</a></h4>
        </div>
        <div class="column">
          <form onsubmit="submitForm(this)" action="/">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            <label for="cNumber">Contact Number</label>
            <input type="text" id="cNumber" name="cNumber" placeholder="Your Contact Number..">
            <label for="email">email</label>
            <input type="text" id="email" name="email" placeholder="Your Email..">
            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Write something.." style="height:170px"></textarea>
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>