<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!DOCTYPE html>
<html>
    <body>
        <main style="padding: 2px 16px;">
            <div class="jumbotron">
                <h2 style="text-align: center;">Skill Set's</h2>
                
                <table>
                    <tr>
                        <td>
                            <div class="card">
                                <img src="/images/ios.png" alt="iOS">
                            </div>
                        </td>
                        
                        <td>
                            <div class="card">
                                <img src="/images/sql.png" alt="sql" style="width:100%">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="card">
                                <img src="/images/git.png" alt="git" style="width:100%">
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <img src="/images/mysql.png" alt="mysql" style="width:100%">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
    </body>
</html>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>