<!--
Created by Diwakar Singh
Section: 401
Roll No: 301185459
Assignment: 01
-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Me</title>
    </head>

    <body>
        <main class="jumbotron">
            <h1 style="text-align: center;">Welcome to Diwakar Vikram Singh Portfolio!</h1>
            <h4>Hi ! I am Diwakar Vikram Singh, a passionate and hard-working Software Developer from Varanasi,India. I am looking for challenging role in a growing and ethical company. I have an academic experience with multiple frontend/backend technologies and frameworks having worked on a few projects. I am curious, energetic and believe in continuous growth. I might not be the best developer yet, but aim to be better. If you want to talk about animals, nature, tech or coronavirus, hit me up. If this sounds like somebody you want to work with, hit me up.</h4><br/><br/>

            <div class="container">
                <h3 style="text-align: center;" >Site Map:</h3><br/>    
    
                <div class="wrapper">
                    <button class="button" onclick="document.location='/about'">About Me</button>
                    <button class="button button2" onclick="document.location='/projects'">Projects</button>
                    <button class="button button3" onclick="document.location='/services'">Services</button>
                    <button class="button button5" onclick="document.location='/contact'">Contact</button>
                </div>
            </div>
        </main>
    </body>
</html>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>

