<!--
Created by Diwakar Singh
Section: 401
Roll No: 301185459
Assignment: 01
-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!DOCTYPE html>
<html>
    <body>
        <main class="jumbotron">
            <div class="jumbotron">
                <h1 style="text-align: center;">Projects</h1>
                <table>
                    <tr>
                        <td>
                            <img src="/images/tj.jpg" alt="project detail" class="imgnew">
                        </td>
                        <td>
                            <div class="jumbotron">
                                <h4><b>Ticket-Junkie</b></h4>
                                <p>Ticket Junkie -URL<a href="https://apps.apple.com/us/app/ticket-junkie/id1413557296?ls=1">https://https://apps.apple.com/us/app/ticket-junkie/id1413557296?ls=1</a>
TICKET JUNKIE is a ticket booking platform and it is dedicated to online event promotion and listing. In this app user
can see the no. of event’s happening in the city and they can buy the ticket’s.</p>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <img src="/images/tenx.png" alt="project detail" class="imgnew">
                        </td>
                        <td>
                            <div class="jumbotron">
                                <h4><b>360TenX</b></h4> 
                                <p> -360Tenx- URL <a href="https://www.360tenx.com/">https://www.360tenx.com//</a>; Realtor portal .</p> 
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <img src="/images/eagle.jpg" alt="project detail" class="imgnew">
                        </td>
                        <td>
                            <div class="jumbotron">
                                <h4><b>Eagle Tech Recycling</b></h4>
                                <p> -Eagle Tech Recycling-URL <a href="http://www.eagletechrecycling.com/">http://www.eagletechrecycling.com/</a><a href="https://apps.apple.com/us/app/id1450252337">https://apps.apple.com/us/app/id1450252337</a> Eagle Tech Recycling Inc. is a privately held, Montreal – based
company , committed to the environmental protection and sustainable development of our community. It specializes in
recycling automotive catalytic converters, electronic scrap, non – ferrous and ferrous scrap more than 20 years.</p> 
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
    </body>
</html>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>